*{padding: 0;margin: 0;}
#principal
{
    display: flex; 
    align-items: center;
    background-image : url(hero.png);
    width: 100% auto;
    height: 669px;
    gap:56px;
}
.image
{
    width:560px;
    height:429px;

}
.texthero
{
    padding: 20px;
    width: 584px;
    height: 299.5px;
    gap: 16px;
    display :flex ;
    flex-direction: column;
  
}

#title1
{
    font-family: Roboto;
    font-size: 16px;
}
#title2
{font-family: Roboto   ;
    font-size: 56px   ; 
}
#title2 span
{
    color: #06A6FF;
}


#but1
{
    width: 96px;
    height: 39px;
    background-color: #06A6FF;
    border-radius: 3px;
    border: none;
    color: white;
   

}
.logoimage{
    width: 40px;
    height: 40px;
    padding: 10px;
background-color: white;
border-radius: 8px;
}
.title{

    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}
.paragraph{

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
#coloms{
    display: flex;
    align-items: center; 
justify-content: space-between;
gap: 16px;
padding: 25px;
}
.colomcouler{
    background-color: #F5FCFF;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#myskills{
    padding: 25px;
    padding-left: 30px;
}
.colomcouler:hover{
    background-color: #D2EFFF;
    border-color: #06A6FF;
    border-style: solid;

}
